h1 {
  font-size: 2.4rem;
  margin-bottom: 30px;
}

.bg-blue {
  background-color: #007EDB;
}

.navbar-brand img {
  height: 30px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .active .nav-link {
  color: #fff;
}

.banner img {
  width: 100%;
}

.blog-box {
  text-align: center;
  margin-bottom: 20px;
}

.blog-box h3 {
  margin: 20px 0;
  font-size: 22px;
  color: #000;
}

.blog-box p {
  color: #666;
}

.blog-box span,
.posted-on span {
  font-style: italic;
  color: #000;
}

.blog-box img {
  width: 100%;
}

.mtb-40 {
  margin: 40px 0;
  min-height: 450px;
}

.banner-box {
  position: relative;
}

.intro-text {
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: center;
  color: #fff;
}

.intro-text-box {
  width: 62%;
  margin: auto;
  background-color: rgba(96, 96, 96, 0.6);
  padding: 20px;
  border: 10px solid #808080;
}

.intro-text-box h1 {
  font-size: 3em;
}

.blog-right h3 {
  background-color: #000;
  color: #fff;
  padding: 5px 15px;
  font-size: 20px;
}

.detail-img {
  margin: 40px 0px;
}

.rb-box-img {
  margin-right: 15px;
}

.rb-box-img img {
  width: 100px;
}

.rb-box {
  display: flex;
}

.rb-box-desc h4 {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}

.rb-box-desc p {
  color: #666;
}

.rb-box {
  margin-bottom: 10px;
}

.recent-post a:hover {
  text-decoration: none;
}

.recent-post a:hover h4 {
  color: #221d2d;
}

.categories {
  margin-top: 20px;
}

.categories ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.categories ul li {
  border-bottom: 1px dotted #ccc;
  padding: 5px 0px;
}

.categories ul li a {
  color: #333;
  display: block;
}

.categories ul li a:hover {
  color: #221d2d;
  text-decoration: none;
}

.body-content {
  min-height: 380px;
}

.error-404 {
  text-align: center;
}

.error-404 h1 {
  font-size: 10em;
}

.service-error {
  text-align: center;
  padding: 50px 0;
}

.service-error h1 {
  font-size: 3em;
  text-transform: uppercase;
  color: #221d2d;
}

/*Admin*/
.login-box {
  box-shadow: 1px 1px 7px #666;
  padding: 20px;
  margin-top: 10%;
}

.login-box h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px
}

.dash-left ul {
  padding: 0;
  margin: 0;
  list-style: none;

}

.dash {
  color: #333;
  padding: 5px 15px;
  display: block;
  text-decoration: none;
  box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.05),
    inset -2px 0px 0px 0px rgba(0, 0, 0, 0.05),
    inset -1px 1px 0px 0px rgba(0, 0, 0, 0.05),
    inset 1px 0px 5px 1px rgba(255, 255, 255, 0.9);
  transition: 0.5s;

}

.dash-left ul li {
  background-color: #f1f1f1;
  margin-bottom: 5px;

}

.dash-left ul li a {
  color: #333;
  padding: 5px 15px;
  display: block;
  text-decoration: none;
  box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.05),
    inset -2px 0px 0px 0px rgba(0, 0, 0, 0.05),
    inset -1px 1px 0px 0px rgba(0, 0, 0, 0.05),
    inset 1px 0px 5px 1px rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  /* border-radius: 52% 48% 33% 67% / 38% 45% 55% 62%; */
}

.dash-left ul li:hover a {
  background-color: #221d2d;
  text-decoration: none;
  color: #fff;

}

.dash-left ul li a.active {
  background-color: #221d2d;
  color: #fff;
}

.dash-header {
  display: flex;
  justify-content: space-between;
}

.table img {
  width: 80px;
}

.action a {
  margin: 0 5px;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

/*validation*/
.ng-valid[required],
.ng-valid.required {
  border: 1px solid #42A948;
}

.error {
  color: #ff0000;
}

.success {
  color: green;
}

.contact-message {
  text-align: center;
}

/* .a{ background-color: white;
  color: #ff0f5b;
}

.p{ 
  background-color: #221d2d;
} */

/* profile  card start */

.profilecard,
.profilecard .img-area,
.social-icons a,
.click button {
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
}

.profilecard {
  position: relative;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profilecard .icon {
  font-size: 17px;
  color: #31344b;
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
  top: 15px;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  font-size: 16px;
}

.profilecard .icon i {
  position: relative;
  z-index: 9;
}

.profilecard .icon.arrow {
  left: 15px;
}

.profilecard .icon.dots {
  right: 15px;
}

.profilecard .img-area {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-area .inner-area {
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  border-radius: 50%;
}

.inner-area img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profilecard .name {
  font-size: 23px;
  font-weight: 500;
  color: #31344b;
  margin: 10px 0 5px 0;
}

.profilecard .about {
  color: #44476a;
  font-weight: 400;
  font-size: 16px;
}

.profilecard .social-icons {
  margin: 15px 0 25px 0;
}

.social-icons a {
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
}

.social-icons a:hover::before,
.profilecard .icon:hover::before,
.click button:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1;
}

.click button:hover:before {
  z-index: -1;
  border-radius: 5px;
}

.social-icons a i {
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 40px;
}

.social-icons a.fk i {
  color: #221d2d;
}

.social-icons a.fb i {
  color: #4267B2;
}

.social-icons a.twitter i {
  color: #1DA1F2;
}

.social-icons a.insta i {
  color: #E1306C;
}

.social-icons a.yt i {
  color: #ff0000;
}

.profilecard .click {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.click button {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  color: #31344b;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  z-index: 4;
}

.click button:first-child {
  margin-right: 10px;
}

.click button:last-child {
  margin-left: 10px;
}

.profilecard .social-share {
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding: 0 5px;
  justify-content: space-between;
}

.social-share .row {
  color: #31344b;
  font-size: 17px;
  cursor: pointer;
  position: relative;
}

.social-share .row::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background: #e0e6eb;
  margin-left: -25px;
}

.row:first-child::before {
  background: none;
}

.social-share .row i.icon-2 {
  position: absolute;
  left: 0;
  top: 50%;
  color: #31344b;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* profile end */


/* hejsfhdjkshfdskjhf */



/* .navi {
  position: relative;
  left: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.compo {
  box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.05),
    inset -2px 0px 0px 0px rgba(0, 0, 0, 0.05),
    inset -1px 1px 0px 0px rgba(0, 0, 0, 0.05),
    inset 1px 0px 5px 1px rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  border-radius: 52% 48% 33% 67% / 38% 45% 55% 62%;
}

.compo:hover {
  border-radius: 50%;
}

/* .navi .compo::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 85px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.9;
}

.navi .compo::after {
  content: '';
  position: absolute;
  top: 90px;
  left: 110px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.9;
} */

/* .navi .compo .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  gap: 15px;
}

.navi .compo .content h2 {
  position: relative;
  color: #333;
  font-size: 1.5em;
}

.navi .compo .content form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.navi .compo .content form .inputBox {
  position: relative;
  width: 225px;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
      inset -2px -5px 10px rgba(255, 255, 255, 1),
      15px 15px 10px rgba(0, 0, 0, 0.05),
      15px 10px 15px rgba(0, 0, 0, 0.025);
  border-radius: 25px;
}

.navi .compo .content form .inputBox::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.navi .compo .content form .inputBox input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 1em;
  padding: 10px 15px;
}

.navi .compo .content form .inputBox input[type="submit"] {
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  cursor: pointer;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.navi .compo .content form .inputBox:last-child {
  width: 120px;
  background: #ff0f5b;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
      15px 15px 10px rgba(0, 0, 0, 0.05),
      15px 10px 15px rgba(0, 0, 0, 0.025);
  transition: 0.5s;
}

.navi .compo .content form .inputBox:last-child:hover {
  width: 150px;
} */

.btns {
  position: absolute;
  right: -120px;
  bottom: 0;
  width: 120px;
  height: 120px;
  background: #c61dff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  transition: 0.25s;
  text-align: center;
  box-shadow: inset 10px 10px 10px rgba(190, 1, 254, 0.05),
    15px 25px 10px rgba(190, 1, 254, 0.1),
    15px 20px 20px rgba(190, 1, 254, 0.1),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5);
  border-radius: 44% 56% 65% 35% / 57% 58% 42% 43%;
}

.btns::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 30px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.45;
}

.btns.signup {
  bottom: 150px;
  right: -120px;
  width: 80px;
  height: 80px;
  border-radius: 49% 51% 52% 48% / 63% 59% 41% 37%;
  background: #221d2d;
  box-shadow: inset 10px 10px 10px rgba(1, 180, 255, 0.05),
    15px 25px 10px rgba(1, 180, 255, 0.1),
    15px 20px 20px rgba(1, 180, 255, 0.1),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5);
}

.btns.signup::before {
  left: 20px;
  width: 15px;
  height: 15px;
}

.btns:hover {
  border-radius: 50%;
}

.p {
  background-color: #221d2d;
}





.container .box {
  padding: 50px 30px;
  overflow: hidden;
}

.image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  opacity: .8;
  border: 3px solid #fff;
}

.card {
  position: relative;
  width: 350px;
  height: 350px;
  background: transparent;
  box-shadow:
    inset 20px 20px 20px rgba(0, 0, 0, .05),
    5px 25px 20px rgba(0, 0, 0, .05),
    5px 20px 30px rgba(0, 0, 0, .05),
    inset -20px -20px 25px rgba(255, 255, 255, .9);
  border-radius: 61% 39% 52% 48% / 44% 59% 41% 56%;
  transition: .5s ease-in-out;
}

.card:hover {
  border-radius: 50%;
}

.card::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 65px;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
  opacity: .9;
}

.card::after {
  content: '';
  position: absolute;
  top: 90px;
  left: 85px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  opacity: .9;
}

.card .card-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.card-content .name-profession {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  color: #333;
}

.name-profession .name {
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession {
  font-size: 15px;
  font-weight: 500;
}

.card-content .rating {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.card-content .rating i {
  font-size: 22px;
  color: var(--clr);
  margin: 0 2px;
  opacity: .75;
}

.card-content button {
  position: relative;
  padding: 8px 35px;
  background: var(--clr);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  opacity: .75;
  margin-top: 30px;
}

.card-content button::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  border-radius: 5px;
}

.box .swiper-button-next,
.box .swiper-button-prev {
  color: #666;
}

.box .swiper-button-next {
  right: 0;
}

.box .swiper-button-prev {
  left: 0;
}

.box .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #666;
}


/* jehukfhfkehf */
.blog-box {
  background-color: #221d2d;
  /* Background color */
  border: 2px solid #ccc;
  padding: 15px;
  width: 400px;
  /* Reduced size */
  display: flex;
  flex-direction: column;
  /* Change to column layout */
  align-items: center;
  transition: all 0.3s ease;
}

.blog-box:hover {
  border-color: #221d2d;
  /* Change border color on hover */
  transform: translateY(-5px);
  /* Move box slightly up on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  /* Add shadow on hover */
}

.blog-box img {
  width: 100%;
  border: 2px white solid;
  /* Adjust image width to fill container */
  height: auto;
  /* Maintain aspect ratio */
  margin-bottom: 10px;
  /* Add margin below image */
  transition: transform 0.3s ease;
  /* Add transition effect to image */
}

.blog-box:hover img {
  transform: scale(1.05);
  /* Scale up image on hover */
}

.blog-details {
  text-align: center;
  /* Center-align text */
}

.blog-details .title {
  font-size: 24px;
  color: white;
  /* Text color */
  margin: 0 0 5px 0;
  transition: color 0.3s ease;
  /* Add transition effect to text color */
}

.blog-details .date {
  font-size: 14px;
  color: white;
  /* Text color */
  margin-bottom: 5px;
  transition: color 0.3s ease;
  /* Add transition effect to text color */
}

.blog-details .description {
  font-size: 16px;
  color: white;
  /* Text color */
  margin-bottom: 15px;
  transition: color 0.3s ease;
  /* Add transition effect to text color */
}

.blog-details .read-more {
  background-color: white;
  /* Background color */
  color: #221d2d;
  /* Text color */
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Add transition effect to background color and text color */
}

.blog-details .read-more:hover {
  background-color: #443844;
  /* Change background color on hover */
  color: white;
  /* Change text color on hover */
}



/* hgsajghfjshf */
@media (max-width: 767px) {
  .intro-text {
    display: none;
  }
}